<%- include('../shared/header') %>

<div class="container">

   <h1>Pagina</h1> 
   <input type="button" onclick="window.location = '/paginas';" value="Voltar">
   <form action="/paginas/<%= pagina.id %>/atualizar" method="post">
    <fieldset>
      <legend>Alteração da Pagina: <%= pagina.nome %></legend>
      <div><%= pagina.erro %></div>
      <%- include('partials/form', {pagina: pagina})  %>
      <input type="submit" value="Atualizar">
    </fieldset>
  </form>      
    
</div>

<%- include('../shared/footer') %>